# Dependencies
node_modules/

# Expo
.expo/
android/
ios/

# Environment
.env
*.env.local

# Service account keys
google-sa-key.json

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.apk
*.aab
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
